label{
  width: 150px;
  display: inline-block;
  margin: 5px 1px 5px 5px
}
button{
  width: 150px;
  display: inline-block;
  margin: 5px 1px 5px 5px
}
input{
  width: 150px;
  display: inline-block;
  margin: 5px 1px 5px 5px
}
.name-1{
  border: 2px solid grey;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  background-color: grey;
}
.name-2{
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  width: 400px;
  background-color: red;
}
.name-3{
  margin: 0 auto;
  display: block;
  width: 400px;
  text-align: center;
}
.name-4{
  background-color: black;
}
}